* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url("https://602f3685c0150b57fb29be16--jolly-benz-62fb03.netlify.app/images/header-background.jpg");
  position: relative;
}

.about {
  width: 90%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: white;
  font-size: 70px;
}

.about p {
  color: #7a7a7a;
  line-height: 2;
  width: 60%;
  min-width: 250px;
  margin: 10px auto;
  max-width: 600px;
}

h3 {
  color: white;
}

hr {
  width: 600px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

ul li {
  margin: 0px 15px;
  font-size: 30px;
}

footer {
  background-color: #2b2b2b;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.cont {
  width: 900px;
  display: flex;
  margin-top: 50px;
}

.first {
  flex: 1;
}

.second {
  flex: 3;
}

img {
  border-radius: 100%;
  width: 120px;
  height: 120px;
}

.contact {
  display: flex;
  padding-top: 30px;
}

#button {
  padding: 15px 20px;
  background-color: #444;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  display: block;
}

#button:hover {
  background-color: white;
  color: black;
}

.social {
  color: white;
  transition: color 0.5s;
}

.social:hover {
  color: teal;
}

.text {
  color: #7a7a7a;
  margin-top: 20px;
  line-height: 2;
}

.hightlight {
  color: white;
}

.link a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  img {
    display: none;
  }

  h1 {
    font-size: 35px;
  }

  hr {
    width: 300px;
   
  }

  .social {
    font-size: 20px;
  }

  .cont {
    display: block;
  }

  .contact {
    display: block;
  }

  #button {
    margin-top: 30px;
  }

  ul li {
    margin: 0px 10px;
  }
}
